[Desktop Entry]
Name=Gnetconfig
Comment=Graphical network configuration tool for Frugalware Linux.
Exec=kdesu gnetconfig 
Terminal=false
Categories=KDE;Application;System;
Type=Application
StartupNotify=false
Icon=gnetconfig.png
OnlyShowIn=KDE
